/* chung */
.header {
    height: var(--header-height);
    background-image: linear-gradient(180deg, #f53e2d, #fe6333);
}

.header--box-shadown {
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 1.1rem rgba(0, 0, 0, 0.15);
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar-list {
    list-style-type: none; 
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-width: 1.6rem; /*1*/
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #e2432b;
    background-color: var(--white-color);
}

.header__navbar-user-img--change-border {
    border: 1px solid rgb(193, 193, 193);
}

.header__navbar-user-name {
    margin-left: 8px;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 350;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 2;
    top: 150%;
    right: -24px;
    padding: 0; 
    width: 144px;
    border-radius: 2px;
    list-style: none;
    background-color: var(--white-color);
    box-shadow: 0 1px 5rem rgba(0, 0, 0, 0.2);
    display: none;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -30px;
    right: 18px;
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100px;
    height: 8px;
}

.header__navbar-user-item {
    width: 100%;
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 12px 16px;     
    display: block;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #f5f5f5;
    color: #27c993;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}  

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 350;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item .no-hover:hover {
    cursor: text;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -8px;
    height: 12px;
    border-left: 2px solid var(--white-color);
    opacity: 0.8;
    transform: translateY(-50%);
}

.header__navbar-item--strong {
    font-weight: 600;
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 140%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.7s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.header__notify {
    position: absolute;
    top: 160%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyHover ease-in 0.17s;
    display: none;
    will-change: opacity, headerNotifyHover;
    z-index: 2;
}

.header__notify::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    border-style: solid;
    border-width: 20px 26px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    right: -1px;
    width: 84px;
    height: 20px;
}

@keyframes headerNotifyHover {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    margin: 0 0 0 12px;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    background-color: rgba(238, 77, 45, 0.09);
}

.header__notify-item:hover .header__notify-link{
    background-color: #f7f7f7;/*vì màu được định nghĩa ở .header__notify-link*/
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-description {
    display: block;
    margin-top: 6px;
    font-size: 1.2rem;
    color: #756F6E;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-link {
    text-decoration: none;
    padding: 12px 32px;
    color: var(--black-color);
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 1.1rem rgba(0, 0, 0, 0.15);
}

.auth-form__container {
    padding: 0 40px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 14px 0;
}

.auth-form__heading--center {
    margin-right: 130px;
}

.auth-form__switch-btn {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 570;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    padding: 0 20px;
}
.auth-form__group-icon,
.auth-form__form--description {
    text-align: center;
    position: relative;
    margin-bottom: 8px;
    font-size: 1.4rem;
}

.auth-form__form--description span {
    color: var(--primary-color);
}

.auth-form__group-icon i:first-child {
    font-size: 5rem;
    font-weight: 450;
}

.auth-form__group-icon i:last-child {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    right: calc(50% - 34px);
    background-color: var(--white-color);
    border-radius: 2px;
    font-weight: 500;
}

.auth-form__group {
    margin-top: 16px;
}

.auth-form__group-input {
    display: flex;
    align-items: center;
}

.auth-form__group-input-icon {
    font-size: 1.8rem;
    margin-left: 6px;
    position: relative;
}

.auth-form__group-input--action::after {
    content: "";
    display: block;
    border-left: 1px solid var(--black-color);
    position: absolute;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.auth-form__group-description {
    display: block;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 18px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__group-title {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 6px;
}

.auth-form__input-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    padding: 12px;
    border: 1px solid #ccc;
}

.auth-form__input-gender-title {
    font-size: 1.4rem;
    color: var(--text-color);
}

.auth-form__input-gender-group {
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.auth-form__input-radio {
    font-size: 1.4rem;
    padding: 0 12px;
}

.auth-form__input-birth-group {
    margin-left: 34px;
}

.auth-form__input-birth {
    font-size: 1.3rem;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 550;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help--separate {
    height: 16px;
    border-left: 2px solid #EAEAEA;
    margin: 0 12px;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.auth-form__help-link--primary {
    color: var(--primary-color);
}

.auth-form__submit {
    padding: 30px 20px 50px;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    width: 100%;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials--facebook {
    background-color: #345A98;
    color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    color: var(--text-color);
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header-with-search--white {
    height: var(--header-with-search-height);
    background-color: var(--white-color);
}

.header__logo {
    width: 180px;
}

.header__logo-link {
    display: block;
    text-decoration: none;
    color: transparent;
}

.header__logo-img {
    width: 150px;
}

.header__navbar-path {
    width: 450px;
    position: relative;
    margin-right: auto;
    margin-left: 2px;
    margin-top: 4px;
}

.header__navbar-path--separate::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -8px;
    height: 28px;
    border-left: 2px solid var(--primary-color);
    opacity: 0.8;
    transform: translateY(-50%);
}

.header__navbar-path--add-name-page {
    font-size: 1.8rem;
    line-height: 34px;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 16px;
}

/* Search history  */
.header__search-history {
    position: absolute;
    z-index: 1;
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgb(177, 175, 175);
    width: calc(100% - 16px);
    display: none;
}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.5rem;
    color: #888;
    font-weight: 400;
}

.header__search-history-list {
    margin: 0;
    width: 100%;
    padding: 8px 0 0 0;
    list-style: none;
}

.header__search-history-item {
    padding: 0 12px;
}

.header__search-history-item:hover {
    background-color: rgb(238, 238, 238);
}

.header__search-history-item a{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    opacity: 0.9;
    padding: 12px 0;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}




.header__search-selection {
    border-left: 1px solid #999;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    width: 60px;
    height: 34px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #f64445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-list {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 100%;
    width: 132px;
    background-color: var(--white-color);
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
    box-shadow: 0 1px 5px #b7b7b7;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-selection:hover .header__search-list {
    display: block;
}

.header__search-list::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 0;
}

.header__search-item {
    padding: 8px 8px;
}

.heaedr__search-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.heaedr__search-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-item span{
    font-size: 1.4rem;
    margin-left: 8px;
}

.header__search-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-item--has-icon i{
    display: inline-block;
}

.header__cart {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart-wrap {
    position: relative;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
    padding: 0 8px;
}

.header__cart--num-product {
    position: absolute;
    top: -6px;
    left: 20px;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.header__cart-list {
    position: absolute;
    z-index: 1;
    top: calc(100% + 12px);
    right: 4px;
    width: 400px;
    background-color: var(--white-color);
    box-shadow: 0 1px 5rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.25s;
    cursor: default;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 0px;
    border-width: 20px 23px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list--no-cart {
    text-align: center;
    padding: 48px 0;
}

.header__cart-list--no-cart-img {
    width: 25%;
    display: none;
}

.header__cart-list--no-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 12px;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list--no-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 0 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    max-width: 216px;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.header__cart-item-description {
    font-size: 1.3rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove {
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 350;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 400;
}

.header__cart-view-product {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-product:hover {
    background-color: #f05d41;
}

/*App container*/
.app__container {
    background-color: #f5f5f5;
    min-height: 810px;
}

.app__container--reset {
    background-color: var(--white-color);
}

.app__content {
    padding-top: 36px;
    padding-bottom: 36px;
}

.app__content-product {
    margin-left: calc(16.6667%);
    height: 3000px;
    /* background-color: var(--background-color); */
    padding: 10px 90px;
}

.app__content-product--reset {
    margin: 0;
}

.manage__dasboard {
    min-height: 1000px;
    background-color: var(--white-color);
    border-radius: 2px;
    color: var(--text-color);
}

.manage__dasboard--reset {
    min-height: auto;
}

.manage__dasboard-nav {
    height: 56px;
    padding-left: 12px;
    padding-top: 2px;
    border-bottom: 2px solid var(--background-color);
    display: flex;
    align-items: center;
}

.manage__dasboard-nav-list {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.manage__dasboard-nav-item {
    display: block;
    padding: 12px;
    text-decoration: none;
    position: relative;
}

.manage__dasboard-nav--insert {
    text-decoration: none;
    display: block;
    border-radius: 2px;
    margin-left: 12px;
    padding: 10px 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    font-size: 1.4rem;
}

.manage__dasboard-nav--insert:hover {
    background-color: #e86a51;
}

.manage__dasboard-nav-item--selected span{
    color: var(--primary-color);
    font-weight: 550;
}

.manage__dasboard-nav-item--selected::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
    border-top: 3px solid var(--primary-color);
}

.manage__dasboard-nav-item:hover span{
    color: var(--primary-color);
}

.manage__dasboard-nav-title {
    font-size: 1.4rem;
    color: var(--text-color);
}

.manage__dasboard-nav-num {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(193, 193, 193);
    margin-left: 4px;
}

/*show product*/
.manage__dasboard-show {
    max-width: 1000px;
    margin: 15px auto 20px;
    border-radius: 4px;
}

.manage__dasboard-show-list {
    padding-left: 0;
    margin: 0;
    font-size: 1.3rem;
}

.manage__dasboard-show-list li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.manage__dasboard-show-item-header {
    background-color: #e7e7e7;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    color: var(--text-color);
}

.manage__dasboard-show-item-header--reset {
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.manage__dasboard-show-item-body {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    min-height: 178px;
}

.manage__dasboard-show-item-name-product {
    display: flex;
    align-items: center;
}

.manage__dasboard-show-item-img {
    width: 30%;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.manage__dasboard-show-item-name {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0 20px;
}

.manage__dasboard-show-item-header,
.manage__dasboard-show-item-body {
    align-items: center;
}

.manage__dasboard-show-list .col-1 {
    flex-basis: 25%;
}

.manage__dasboard-show-list .col-2 {
    flex: 1;
    padding-right: 28px;
}

.manage__dasboard-show-list .col-3 {
    flex-basis: 15%;
}

.manage__dasboard-show-list .col-4 {
    flex-basis: 10%;
    text-align: center;
}

.manage__dasboard-show-item-action {
    text-decoration: none;
    display: block;
    padding: 8px;
    color: var(--blue-color);
}

.app__content-payment {
    border-top: 2px solid var(--primary-color);
}

.app__content-total-payment {
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 16px;
}

.app__content-total-payment__select-all,
.app__content-total-payment__select-all a,
.app__content-total-payment__link,
.app__content-total-payment__link input {
    font-size: 1.6rem;
    color: var(--black-color);
    text-decoration: none;
}

.app__content-total-payment__link input {
    border: none;
    padding: 12px 16px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
    margin-left: 12px;
    cursor: pointer;
}

.app__content-total-payment__select-all a {
    margin: 0 8px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 16px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.category__heading-user-img {
    width: 40px;
    height: 40px;
}

.category__heading-user {
    margin-left: 16px;
}

.category__heading-username {
    margin: 0 0 6px;
    font-size: 1.6rem;
    font-weight: 600;
}

.category__heading-user--update {
    display: block;
    text-decoration: none;
    color: #888;
    font-size: 1.4rem;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item {
    margin-bottom: 4px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    position: absolute;
    content: "";
    border-width: 4px 4px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.category-item__link {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 7px 16px;
    position: relative;
    right: 0;
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.category-item__link-icon {
    margin-right: 6px;
}

.profile-update {
    background-color: var(--white-color);
    padding: 20px 32px;
}

.profile-update__header {
    padding-bottom: 16px;
    border-bottom: 1px solid #dfdfdf;
}

.profile-update__header-title {
    display: block;
    font-size: 1.9rem;
}

.profile-update__header-detail {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #555;
    margin-top: 8px;
}

.profile-update__form {
    padding: 20px;
    display: flex;
}

.profile-update__form-info {
    min-width: 652px;
    padding-right: 64px;
    position: relative;
}

.profile-update__form-info::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px  solid #e6e6e6;
    height: 240px;
    top: 40%;
    right: 32px;
    transform: translateY(-50%);
}

.profile-update__form-wrap {
    display: flex;
    align-items: center;
    padding: 12px;
}

.profile-update__form-title {
    display: block;
    min-width: 100px;
    text-align: right;
    font-size: 1.4rem;
    margin-right: 20px;
    color: #6e6e6e;
}

.profile-update__form-input {
    flex: 1;
}

.profile-update__form-input-wrap {
    display: flex;
    align-items: center;
}

.profile-update__form-old-input {
    display: block;
    font-size: 1.4rem;
    padding-left: 12px;
}

.profile-update__form-btn--add,
.profile-update__form-btn--remove {
    border: none; 
    background: none;
    text-decoration: underline;
    color: blue;
    margin-left: 16px;
    font-size: 1.3rem;
}

.profile-update__form-detail {
    flex: 1;
    width: 100%;
}

.profile-update__form-submit {
    margin-top: 20px;
    min-width: 70px;
}

.profile-update__form-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    margin-left: 32px;
}

.profile-update__form-old-photo {
    text-align: center;
}

.profile-update__form-old-photo-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
}

.profile-update__form-new-photo {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.home-filter {
    background-color: rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
    font-weight: 450;
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
}

.home-filter__page-btn {
    display: inline-block;
    width: 34px;
    height: 30px;
    background-color: var(--white-color);
    display: inline-flex;
    text-decoration: none;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.3rem;
    color: #555;
}

.purchase-sidebar {
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    padding: 0px 12px;
    margin-bottom: 12px;
}

.purchase-sidebar__item {
    display: flex;
    flex: 1;
    padding: 16px 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.purchase-sidebar__item--selected.purchase-sidebar__item {
    color: var(--primary-color);
}

.purchase-sidebar__item--selected {
    border-bottom: 2px solid var(--primary-color);
}

.purchase-product__item {
    margin-bottom: 12px;
}

.purchase-product {
    background-color: var(--white-color);
    padding: 24px 24px 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.purchase-product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.purchase-product__info-shop {
    text-align: center;
}

.purchase-product__shop-icon,
.purchase-product__shop-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    text-overflow: ellipsis;
    margin-right: 4px;
}

.btn__purchase-chat {
    height: 25px;
    min-width: 60px;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
    margin-left: 2px;
}

.btn__purchase-chat i {
    margin-right: 4px;
}

.btn__purchase-chat--has-border {
    border: 1px solid #c9c9c9;
}

.purchase-product__status {
    display: flex;
    align-items: center;
}

.icon-free-shipping-line {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.purchase-product__status-delivery {
    font-size: 1.4rem;
    color: #00BFA3;
    margin-right: 6px;
}

.purchase-product__status-icon {
    font-size: 1.4rem;
    margin-right: 6px;
    position: relative;
}

.purchase-product__status-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -8px;
    border-left: 2px solid #ccc;
    height: 16px;
    transform: translate(-50%, -50%);
}

.purchase-product__status-status {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-left: 12px;
}

.purchase-product__detail-item {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--text-color);
    padding: 12px 0;
    border-top: 1px solid #f4f2f2;
}

.purchase-product__detail-img {
    width: 80px;
    height: 80px;
    margin: 0 24px 0 0;
    border: 1px solid var(--border-color);
}

.purchase-product__detail-info {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.purchase-product__detail-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 6px;
}

.purchase-product__detail-description,
.purchase-product__detail-quantity {
    font-size: 1.2rem;
    margin-bottom: 6px;
}

.purchase-product__detail-price {
    display: inline-flex;
    align-items: center;
}

.purchase-product__detail-price--has-discount {
    margin-left: 8px;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.purchase-product__detail-price--no-discount {
    font-size: 1.4rem;
    color: rgb(192, 192, 192);
    text-decoration: line-through;
}

.purchase-product__footer {
    background-color: var(--white-color);
    padding: 0 24px 24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 2px solid #f2f2f2;
}

.purchase-product__total {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px 0 24px;
    font-size: 1.6rem;
}

.purchase-product__total-icon {
    color: var(--primary-color);
    font-size: 1.7rem;
    margin-right: -2px;
}

.purchase-product__total-price {
    color: var(--primary-color);
    margin-left: 8px;
    font-weight: 550;
    font-size: 1.8rem;
}

.purchase-product__option {
    display: flex;
    justify-content: flex-end;
}

.purchase-product__option--rebuy,
.purchase-product__option--contact {
    margin-right: 8px;
    font-size: 1.5rem;
}

.purchase-product__option--detail {
    font-size: 1.5rem;
}

.purchase-product__option--contact,
.purchase-product__option--detail {
    border: 1px solid #ccc;
}

/*969*/
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-size: auto 100%; /*contain, cover*/
    background-repeat: no-repeat;
    background-position: left top; /*center*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-new {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__icon-free-shipping {
    transform: scale(1.01);
    margin-right: 10px;
}

.home-product-item__action {
    margin: 14px 10px 0 10px;
}

.home-product-item__num-product-present {
    height: 26px;
    background-color: rgba(238, 77, 42, 0.15);
    padding: 0 6px;
    display: flex;
    align-items: center;
}

.home-product-item__num-product-present i {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.home-product-item__num-product-title {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--primary-color);
    line-height: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.home-product-item__rating {
    margin-top: 6px;
    height: 26px;
    display: flex;
    justify-content: space-between;
}

.home-product-item__star-wrap {
    line-height: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.home-product-item__star{
    color: #d5d5d5;
}

.home-product-item__star--gold{
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 8px;
    color: var(--text-color);
}

.home-product-item__like {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.home-product-item__like:hover {
    color: var(--primary-color);
}

.home-product-item__like-icon--empty,
.home-product-item__like-icon--fill {
    font-size: 1.3rem;
}

i.home-product-item__like-icon--fill {
    color: #f63d30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon--fill {
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon--empty {
    display: inline-block;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);/*giảm độ sáng còn 60%*/
}

.home-product-item__favourite i {
    margin:0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
    padding: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 6px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 550;
}

.pagination--margin {
    margin: 48px 0 32px;
}

.footer {
    
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 14px 0;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin-top: -1px;
    margin-right: 8px;
}

.footer-download {
    display: flex;
    justify-content: flex-start;
}

.footer-download__qr-img {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    border: 1px solid var(--border-color);
}

.footer-download__apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-download__apps-img {
    height: 16px;
}

.footer-download__apps-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    padding: 24px 0 ;
    background-color: #f5f5f5;
    margin-top: 24px;
}

.footer__license {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: var(--text-color);
}

.footer__license-icon {
    margin-right: 4px;
}

/* header login */
.header {
    box-shadow: ;
}

.auth-header {
    height: 84px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    flex: 1;
    font-size: 2.4rem;
    margin-left: -10px;
    margin-top: 6px;
}

.header-with-help__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.container-login {
    background-color: var(--primary-color);
}

.container-login--reset {
    height: 600px;
    background-color: var(--white-color);
}

.container-login__content {
    position: relative;
}

.container-login__content--reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-login__content-img {
    padding: 86px 0;
}

.auth-form--op-top-signup {
    position: absolute;
    top: 90px;
    right: 0;
}

.auth-form--op-top-signin {
    position: absolute;
    top: 168px;
    right: 0;
}

.auth-form__controls--mr {
    margin-bottom: 20px;
}

.manage__dasboard-show-item-quantity-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.manage__dasboard-show-item-quantity {
    font-size: 1.4rem;
    border: 1px solid rgb(223, 223, 223);
    padding: 4px 12px;
}

.header__cart-list-notify {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__cart-list--no-cart--go-home {
    display: block;
    width: 168px;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
    text-decoration: none;
    margin-top: 24px;
}